.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Counter CSS */
.counter-container {
  width: 300px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-wrapper {
  display: flex;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 2px #cecece;
  width: 150px;
  align-items: center;
  text-align: left;
  padding: 0 0 0 14px;
}

.amount-input {
  border: 1px solid #cecece;
  padding: 10px 40px;
  border-radius: 4px;
  margin-right: 10px;
}
.amount-container {
  display: flex;
  /* width: 500px; */
  /* justify-content: space-around; */
  align-items: center;
  margin: auto;
}

.increment-amount-btn {
  background-color: green;
  border: 1px solid green;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  margin-right: 10px;
}

.decrement-amount-btn {
  background-color: red;
  border: 1px solid red;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
}

.increment-btn {
  background: #e2f8e3;
  color: darkgreen;
  font-size: 20px;
  border: 1px solid #e2f8e3;
  padding: 0 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.decrement-btn {
  background: #fde7e7;
  color: #9c4444;
  font-size: 20px;
  border: 1px solid #fde7e7;
  padding: 0 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 5px;
}

.reset-btn {
  padding: 10px 35px;
  font-size: 15px;
  background: #9c4444;
  border: 1px solid #9c4444;
  color: #fff;
  border-radius: 6px;
}

/* Display CSS */
.display-container {
  display: flex;
  /* margin: auto; */
  /* width: 500px; */
  justify-content: center;
  flex-direction: column;
}

.display-board {
  display: flex;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 2px #cecece;
  width: 250px;
  align-items: center;
  text-align: center;
  padding: 60px;
  margin: auto;
  justify-content: center;
}

/* Todo App */
.todo-container {
  width: 500px;
  margin: auto;
  /* padding: 100px; */
  background: #15262e;
  border-radius: 2px;
  padding: 10px 20px 60px 2px;
  color: #fff;
}

.todo-form {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo-input {
  padding: 10px 40px 10px 10px;
  width: 250px;
  border: 1px solid maroon;
  border-radius: 4px;
}

.todo-button {
  margin-left: 10px;
  padding: 10px 20px;
  background: maroon;
  border: 1px solid maroon;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
}

.todo-list {
  border: 2px solid;
  width: 380px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 4px;
}

.todo-list-container {
  width: 280px;
  text-align: left;
  padding: 10px;
}

.todo-list-container-btn {
  background-color: #15262e;
  border: 1px solid #15262e;
}
.icons-container {
  display: flex;
  justify-content: flex-end;
}
.edit-input {
  padding: 10px 50px 10px 10px;
}
